html {
    background-color: black;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    /*box-shadow: 0px 0px 50px 10px #000000 inset;*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#debug {
    display: none;
    position: fixed;
    background-color: white;
    top: 10px;
    margin: 10px;
    padding: 10px;
    /*mix-blend-mode: hard-light;*/
}

#circlebox {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: transparent;
}

#circlebox:after {
    flex: 1;
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 50vw;
    height: 50vh;
    box-shadow: 0px 0px 0px 2000px #000000;
    /* TODO blur complete box: inset */
}


